@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    font-family: 'Macondo', cursive;
    background-color: gold;
}

.login {
    margin: 25px auto;
    width: 400px;
    padding: 10px;
}

fieldset {
    border-style: outset;
    border-radius: 20px;
    border-color: transparent;
    border-width: 5pt;
    align-self: center;
    background-color: white;
}

h3 {
    text-align: center;
    font-style: oblique;
    margin-bottom: 30px;
}

.daft {
    font-size: small;
    color: grey;
}

.lanjut {
    text-align: center;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.google {
    width: 180px;
    height: 40px;
    background-color: white;
}

.google:hover {
    background-color: rgb(235, 235, 235);
}

.facebook {
    width: 180px;
    height: 40px;
    background-color: white;
}

.facebook:hover {
    background-color: rgb(235, 235, 235);
}

input[type=text] {
    margin: 5px auto;
    width: 50%;
    padding: 10px;
    
}

.join {
    width: 380px;
    height: 40px;
    border-radius: 40px;
    background-color: gold;
    color:white;
    font-size: large;
    font-weight: bold;
}

.join:hover {
    background-color: white;
    color: black;
}